body{
  background-color: #864000;
  font-family: 'Creepster', cursive;
}

.container {
  text-align: center;
  width: 38%;
}

.col {
  height: 11rem;
  margin: 0.6rem;
  background-image: url("Images/CardBack.png");
}

.title {
  text-align: center;
  color: orange;
}

.app-name{
  font-size: 6rem;
}

.timer, .number-of-flips {
  display: inline;
  color: #fff;
}

.timer {
  margin-right: 22rem;
}

.card-rotate {
  transform: rotateY(180deg);
  transition-duration: 1s;
}

.card-reverse-rotate {
  transform: rotateY(-180deg);
  transition-duration: 1s;
}
